In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
import numpy as np

In [2]:
%matplotlib

Using matplotlib backend: <object object at 0x0000020CC44AED70>

In [3]:
# Import the API key.
from config import gkey

In [4]:
# Import the CSV you created in part one and store into a DataFrame.
city_data_df = pd.read_csv("Weather Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2022-07-05 02:20:31,55.7435,-97.8558,62.76,51,20,10.36
1,1,New Norfolk,AU,2022-07-05 02:20:31,-42.7826,147.0587,56.91,62,33,2.42
2,2,Alofi,NU,2022-07-05 02:20:31,-19.0595,-169.9187,76.89,73,75,20.71
3,3,Hermanus,ZA,2022-07-05 02:20:32,-34.4187,19.2345,50.90,75,0,7.36
4,4,Kutum,SD,2022-07-05 02:20:32,14.2000,24.6667,75.76,60,93,9.42

In [5]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     540 non-null    int64
 1   City        540 non-null    object
 2   Country     536 non-null    object
 3   Date        540 non-null    object
 4   Lat         540 non-null    float64
 5   Lng         540 non-null    float64
 6   Max Temp    540 non-null    float64
 7   Humidity    540 non-null    int64
 8   Cloudiness  540 non-null    int64
 9   Wind Speed  540 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 42.3+ KB

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of max temperatures
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of windiness
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 85

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2022-07-05 02:20:31,55.7435,-97.8558,62.76,51,20,10.36
1,1,New Norfolk,AU,2022-07-05 02:20:31,-42.7826,147.0587,56.91,62,33,2.42
2,2,Alofi,NU,2022-07-05 02:20:31,-19.0595,-169.9187,76.89,73,75,20.71
4,4,Kutum,SD,2022-07-05 02:20:32,14.2000,24.6667,75.76,60,93,9.42
5,5,Camacha,PT,2022-07-05 02:20:32,33.0833,-16.3333,63.82,72,75,11.50
6,6,Vaini,TO,2022-07-05 02:20:32,-21.2000,-175.2000,77.16,83,40,11.50
8,8,Ketchikan,US,2022-07-05 02:20:33,55.3422,-131.6461,64.87,72,0,14.97
9,9,Rikitea,PF,2022-07-05 02:20:33,-23.1203,-134.9692,75.13,73,5,8.05
10,10,Kapaa,US,2022-07-05 02:20:34,22.0752,-159.3190,82.38,75,100,17.27
11,11,Albany,US,2022-07-05 02:20:34,42.6001,-73.9662,68.05,68,78,3.51

In [14]:
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 391 entries, 0 to 539
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     391 non-null    int64
 1   City        391 non-null    object
 2   Country     391 non-null    object
 3   Date        391 non-null    object
 4   Lat         391 non-null    float64
 5   Lng         391 non-null    float64
 6   Max Temp    391 non-null    float64
 7   Humidity    391 non-null    int64
 8   Cloudiness  391 non-null    int64
 9   Wind Speed  391 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 33.6+ KB

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0      Thompson      CA     62.76  55.7435  -97.8558
1   New Norfolk      AU     56.91 -42.7826  147.0587
2         Alofi      NU     76.89 -19.0595 -169.9187
4         Kutum      SD     75.76  14.2000   24.6667
5       Camacha      PT     63.82  33.0833  -16.3333
6         Vaini      TO     77.16 -21.2000 -175.2000
8     Ketchikan      US     64.87  55.3422 -131.6461
9       Rikitea      PF     75.13 -23.1203 -134.9692
10        Kapaa      US     82.38  22.0752 -159.3190
11       Albany      US     68.05  42.6001  -73.9662

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [ ]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": gkey,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

In [ ]:
hotels_json_df = pd.json_normalize(hotels['results']).T
hotels_json_df

In [ ]:
len(hotels["results"])

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Thompson,CA,62.76,55.7435,-97.8558,Burntwood Hotel
1,New Norfolk,AU,56.91,-42.7826,147.0587,The Shingles Riverside Cottages
2,Alofi,NU,76.89,-19.0595,-169.9187,Taloa Heights
4,Kutum,SD,75.76,14.2000,24.6667,Dibbo areaمنطقة دبو
5,Camacha,PT,63.82,33.0833,-16.3333,Hotel Porto Santo & Spa
6,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
8,Ketchikan,US,64.87,55.3422,-131.6461,Snow's Cove Lodge
9,Rikitea,PF,75.13,-23.1203,-134.9692,People ThankYou
10,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Albany,US,68.05,42.6001,-73.9662,

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))